<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<a th:href="@{/form}">Crear</a>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>nombre</th>
			<th>precio</th>
			<th>fecha</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="producto: ${productos}">
			<td th:text="${producto.id}"></td>
			<td th:text="${producto.nombre}"></td>
			<td th:text="${producto.precio}"></td>
			<td th:text="${producto.createAt}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>